<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Go Shotener</title>

  <script src="static/script.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body>
  <div class="container">
    <div class="row">
    <h1 class="d-flex justify-content-center">Simpe URL Shortener</h1>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form action="" id="form" method="POST" onsubmit="addUrl(event);">
        <div class="mb-3">
          <label>Long Url</label>
          <input type="text" name="long_url" class="form-control" placeholder="ex: https://twitter.com/joe" />
        </div>
        <div class="mb-3">
          <label>Short Url</label>
          <input type="text" name="short_url" class="form-control" placeholder="ex: twt" />
        </div>
        <button type="submit" class="btn btn-block btn-primary">Submit</button>
      </form>
      <div class="col-md-2"></div>
      <h5 id="status"></h5>
      
    </div>
  </div>
</div>
<footer class="d-flex justify-content-center">-- simplicity is the ultimate sophistication --</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>